Clash_of_Gods/[Ll]ibrary/
Clash_of_Gods/[Tt]emp/
Clash_of_Gods/[Oo]bj/
Clash_of_Gods/[Bb]uild/
Clash_of_Gods/[Bb]uilds/
Clash_of_Gods/[Ll]ogs/
Clash_of_Gods/.vs
Clash_of_Gods/Assembly-CSharp.csproj
Clash_of_Gods/Clash_of_Gods.sln
